<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="DataExchange.SitecoreForms.Provider.Initialize, DataExchange.SitecoreForms.Provider" resolve="true" />
      </initialize>
    </pipelines>
    <services role:require="Standalone or ContentManagement">
      <register role:require="Standalone or ContentManagement"
          serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[DataExchange.SitecoreForms.Provider.Messaging.Models.SubmissionDataMessage, DataExchange.SitecoreForms.Provider]],  Sitecore.Framework.Messaging.Abstractions"
          implementationType="DataExchange.SitecoreForms.Provider.Messaging.Handlers.SubmissionDataMessageHandler, DataExchange.SitecoreForms.Provider"
          lifetime="Transient" />
      <register role:require="Standalone or ContentManagement"
          serviceType="DataExchange.SitecoreForms.Provider.IBatchRunner, DataExchange.SitecoreForms.Provider"
          implementationType="DataExchange.SitecoreForms.Provider.BatchRunner, DataExchange.SitecoreForms.Provider"
          lifetime="Transient" />
      
    </services>
    <Messaging>
      <Rebus>
        <DataExchange.SitecoreForms.Provider.Messaging.Models.SyncSubmissionDataMessageBus role:require="Standalone or ContentManagement or ContentDelivery">
          <Transport>
            <SqlServer>
              <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
              <OneWay role:require="ContentDelivery">true</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <TableName>Sitecore_Transport</TableName>
              <InputQueueName>SyncSubmissionDataMessagesQueue</InputQueueName>
            </SqlServer>
          </Transport>
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <SubmissionDataMessageMapping>
                  <Type>DataExchange.SitecoreForms.Provider.Messaging.Models.SubmissionDataMessage, DataExchange.SitecoreForms.Provider</Type>
                  <DestinationQueue>SyncSubmissionDataMessagesQueue</DestinationQueue>
                </SubmissionDataMessageMapping>
              </TypeMappings>
            </TypeBasedMappings>
          </Routing>
          <Options role:require="(Standalone or ContentManagement) and !ContentDelivery">
            <SetNumberOfWorkers>1</SetNumberOfWorkers>
            <SimpleRetryStrategy>
              <ErrorQueueAddress>Error</ErrorQueueAddress>
              <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
              <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
            </SimpleRetryStrategy>
          </Options>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </DataExchange.SitecoreForms.Provider.Messaging.Models.SyncSubmissionDataMessageBus>
      </Rebus>
    </Messaging>
  </sitecore>
</configuration>
